{{ $logo   := printf "img/logos/%s" site.Params.logos.footer | relURL }}
{{ $desc   := site.Params.description }}
{{ $year   := now.Year }}
{{ $sdks   := site.Params.sdks }}
{{ $menu   := site.Menus.main }}
{{ $social := site.Params.social }}
{{ $integ  := site.Data.integrations }}
<footer class="footer">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-one-quarter">
        <img class="footer-logo" src="{{ $logo }}">
      </div>

      <div class="column">
        <p class="title has-text-weight-bold">
          CloudEvents
        </p>

        <hr class="thick" />

        <p class="subtitle is-size-5 is-size-6-mobile has-text-weight-light">
          {{ $desc }}
        </p>

        <div class="columns">
          <div class="column is-one-third">
            <ul>
              {{ range $menu }}
              {{ $isExternal := hasPrefix .URL "http" }}
              <li>
                <a href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
                  {{ .Name }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>

          <div class="column is-one-third">
            <p class="has-text-weight-bold">
              SDKs
            </p>
    
            <ul>
              {{ range $sdks }}
              {{ $link := printf "https://github.com/cloudevents/sdk-%s" .tag }}
              <li>
                <a href="{{ $link }}" target="_blank">
                  {{ .name }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>

          <div class="column is-one-third">
            <p class="has-text-weight-bold">
              Integrations
            </p>

            <ul>
              {{ range $integ }}
              <li>
                <a href="{{ .url }}" target="_blank">
                  {{ .name }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>

        <div class="buttons is-radiusless">
          {{ range $social }}
          <a class="button is-small is-{{ .color }} is-radiusless" href="{{ .url }}" target="_blank">
            <span class="icon">
              <i class="fab fa-{{ .tag }}"></i>
            </span>
          </a>
          {{ end }}
        </div>

        <hr class="has-background-grey-light" />

        <div class="has-text-weight-light copyright">
          <p>
            &copy; CloudEvents Authors {{ $year }} | Documentation Distributed under CC-BY-4.0
          </p>
  
          <p>
            &copy; {{ $year }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage</a> page.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
