{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $resources := site.Data.resources }}
{{ $videos    := $resources.videos }}
<section class="section">
  <div class="container">
    <p class="title is-size-3 is-size-4-mobile has-text-weight-light">
      {{ $data.params.resources }}
    </p>

    <hr class="thick" />

    <div class="columns is-variable is-8">
      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          {{ $data.params.videos }}
        </p>

        <table class="table is-medium">
          <thead>
            <tr>
              <th>
                {{ $data.params.title }}
              </th>
              <th>
                {{ $data.params.speakers }}
              </th>
              <th>
                {{ $data.params.event }}
              </th>
            </tr>
          </thead>
          <tbody>
            {{ range $videos }}
            <tr>
              <td>
                <a href="{{ .url }}" target="_blank">
                  {{ .title }}
                </a>
              </td>
              <td>
                {{ .speakers }}
              </td>
              <td>
                {{ .event }}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
